<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <br />
        <mat-card-title style="text-align:center;">Recuperar contraseña</mat-card-title>
        <br />
        <mat-card-content>
            <form #formResetPassword="ngForm" [formGroup]="formGroupResetPassword"
                (ngSubmit)="resetPassword(formGroupResetPassword.value, formResetPassword);">
                <br />
                <mat-form-field>
                    <input matInput placeholder="Email" required name="email" formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error
                        *ngIf="!formGroupResetPassword.controls['email'].valid && formGroupResetPassword.controls['email'].touched">
                        {{ getErrorEmailResetPassword() }}
                    </mat-error>
                </mat-form-field>
                <br />
                <button mat-raised-button color="primary" class="login-button">
                    Enviar
                </button>
                <button [routerLink]="['/login']" routerLinkActive="router-link-active"  mat-raised-button class="volver-button">
                    Volver
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>