<mat-card>
    <h1>Agregar producto</h1>
    <p>
        <mat-form-field>
            <input matInput [(ngModel)]="product.proId" type="text" placeholder="Producto ID">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <input matInput [(ngModel)]="product.name" type="text" placeholder="Nombre">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <textarea rows="10" matInput [(ngModel)]="product.detail" placeholder="Descripción"></textarea>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <textarea rows="10" matInput [(ngModel)]="product.image" placeholder="Imagen"></textarea>
        </mat-form-field>
    </p>
    <label for="fotos">Imagen</label>

    <p>
        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select>
                <mat-option *ngFor="let enable of enables" [value]="enable.id">
                    {{ enable.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>

    <p>
        <app-loading-button [cargando]="cargando" texto="Guardar" (click)="save()"></app-loading-button>
        <a routerLink="/product-list" mat-raised-button color="primary" style="margin-left: 10px">Volver</a>
    </p>
</mat-card>